/* main {background-color: blue;} */

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

p, li, a, h1, h2, h3, time, date, .welcome, input {
    text-shadow: 1px 1px 1px #000;
    color: white;
}

body {
    transition: background-image 1s ease-in-out;
    background-size: 100%;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover {
    color: #93f6f6;
}

.container {
    height: 100vh;
}

main {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-and-weather {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .player-and-weather {
        flex-direction: column;
    }

    .weather {
        margin: 0 auto;
    }
}